.Icon {
background-color: #B9CFD4;
position: absolute;
/*left: 0%;
right: 87.00%;
bottom: 91.41%;*/
/*top: 2%;*/
height: 6%;
width: 3%;
z-index: 5; 
background-image:url("./user.png");
background-repeat: no-repeat;
    background-size:70%;
    background-position: center;
}
.Userbar
{
position: absolute;
/*top: 2%;*/
height: 6%;
width: 30%;
/*right: 2.2%;*/
/*left: 0%;
right: 0.00%;
top: 0%;
bottom: 91.41%; */
z-index: 1;
background: #B9CFD4;
}
.UserAccount
{
    position: absolute;
   /* left: 15.00%;
    right: 60%;
    bottom: 93%;*/
    /*top: 2.75%;
    right: 22%;*/
    top: 0.5%;
    right: 23%;
    height: 4.5%;
    width: 7%; 
    z-index: 1;
    background: #62AEBB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: HelveticaNeue;
    font-style: normal;
    font-weight: normal;
    font-size: 2vmin;
    line-height: 42px;
    text-align: center;
    word-wrap: break-word;
   

}
