.Background {
    position: absolute;

}
.Cancel {
    position: absolute;
   /* left: 10%;
    right: 80%;
    top: 90.0%;
    bottom: 5.0%;*/
    z-index: 5;
    /*top: 90.0%;*/
    

    text-align: center;
    font-size:25px;
    width: 175px;
    height: 60px;
    margin: 15px 0px 0px 0px; }
    .Confirm {
        position: absolute;
       /* left: 65%;
        right: 80%;
        top: 90.0%;
        bottom: 5.0%;*/
        z-index: 5;
     
    
        text-align: center;
        font-size:25px;
        width: 175px;
        height: 60px;
        margin: 15px 0px 0px 0px;
      /*  top: 90.0%;*/
        right: 4%;
    }